@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VCR OSD Mono";
  font-display: swap;
  src: url(/fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
  font-family: "Monocode";
  font-display: swap;
  src: url(/fonts/monocode-regular.ttf);
}
