@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply m-0 leading-[normal];
}

*,
::before,
::after {
    border-width: 0;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: "VCR OSD Mono";
    font-display: swap;
    src: url(/fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: "Monocode";
    font-display: swap;
    src: url(/fonts/monocode-regular.ttf);
}

.outline-gradient {
    border: 2px solid #8824dc;
}

.fill-gradient {
    background: linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%);
}

.color-gradient {
    background-color: #8824dc;
    background-image: linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.clip-corner {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
}

.clip-corner-inner {
    clip-path: polygon(
        2px 2px,
        calc(100% - 2px) 2px,
        calc(100% - 2px) calc(100% - 17px),
        calc(100% - 17px) calc(100% - 2px),
        2px calc(100% - 2px)
    );
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    font-family: "raleway";
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.grid-overlay {
    position: absolute;
    right: 0;
    background-size: 50px 50px;
    background-image:
        linear-gradient(to right, #a122af 3px, transparent 3px),
        linear-gradient(to bottom, #a122af 3px, transparent 3px);
    mask-image: linear-gradient(
        to right,
        transparent,
        rgba(0, 0, 0, 0.05) 10%,
        rgba(0, 0, 0, 0.3) 40%,
        rgba(0, 0, 0, 0.7) 70%,
        black 100%
    );
}
