@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap") layer(base);
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap")
    layer(base);

@import "tailwindcss";
@reference "tailwindcss";

@theme {
    /* === Colors === */
    --color-gray-100: #1b1b1b;
    --color-gray-200: rgba(0, 0, 0, 0);
    --color-gray-300: rgba(27, 27, 27, 0.05);

    --color-thistle: #ab9db6;
    --color-white: #fff;
    --color-black: #000;
    --color-darkmagenta: #ac1fa0;

    --color-blueviolet-100: #8824dc;
    --color-blueviolet-200: rgba(136, 36, 220, 0.5);
    --color-blueviolet-700: #6a0dad;

    --color-darkorchid-100: #9e22ba;
    --color-darkorchid-200: #9f22b8;
    --color-darkorchid-300: #701bb7;

    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));

    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));

    --color-chart-1: hsl(var(--chart-1));
    --color-chart-2: hsl(var(--chart-2));
    --color-chart-3: hsl(var(--chart-3));
    --color-chart-4: hsl(var(--chart-4));
    --color-chart-5: hsl(var(--chart-5));

    /* === Border Radius === */
    --radius-8xs: 5px;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    /* === Font Sizes === */
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 16px;
    --text-xl: 20px;
    --text-inherit: inherit;

    /* === Fonts === */
    --font-heading: "VCR OSD Mono", ui-monospace, "Courier New", Courier, monospace;
    --font-sans: Raleway, Arial, sans-serif;
    --font-mono: Monocode, "Courier New", Courier, monospace;

    /* === Animations === */
    --animate-spin-slow: spin 30s linear infinite;
    --animate-highlight: highlight 0.5s ease-out 1s forwards;
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    /* === Keyframes === */
    @keyframes highlight {
        0% {
            width: 0;
            right: 100%;
        }
        100% {
            width: 100%;
            right: 0;
        }
    }

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }

    /* === Backdrop blur === */
    --backdrop-blur-super: 500px;
}

@utility outline-gradient {
    border: 1px solid;
    border-image: linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%) 1;
}

@layer utilities {
    .bg-gradient {
        background:
            radial-gradient(ellipse 150% 300% at center top, #381e4b 0%, #1b1b1b 90%),
            linear-gradient(to bottom, #381e4b 0%, #1b1b1b 100%);
    }

    .sponsor {
        @apply outline-gradient mx-4 flex h-40 w-64 items-center justify-center;
    }

    .outline-gradient {
        border: 1px solid;
        border-image: linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%) 1;
    }

    .outline-gradient-bottom {
        border-bottom: 2px solid;
        border-image: linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%) 1;
        border-image-slice: 1;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

    .outline-gradient-rounded {
        position: relative;
        border: 1px solid transparent;
        border-radius: 0.5rem;

        background:
            linear-gradient(rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)) padding-box,
            linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%) border-box; /* gradient border */

        background-clip: padding-box, border-box;
        background-origin: border-box;

        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
    }

    .fill-gradient {
        background: linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%);
    }

    .color-gradient {
        background-color: #8824dc;
        background-image: linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        transition: background-position 0.5s ease;
    }

    .color-gradient-clickable {
        background-color: #8824dc;
        background-image: linear-gradient(55deg, #8824dc 20%, #b1219d 75%);
        background-size: 200% 100%; /* Double the size for animation */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        transition: background-position 0.3s ease;
    }

    .color-gradient-clickable:hover {
        background-position: 100% 0; /* Move gradient to the right */
    }

    .highlight-text {
        @apply relative z-0 inline-block;
    }

    .highlight-text::before {
        content: "";
        @apply absolute right-0 top-0 z-[-1] h-full w-0 animate-highlight;
        background: linear-gradient(55.37deg, rgba(136, 36, 220, 0.5), rgba(177, 33, 97, 0.5));
    }

    .clip-corner {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
    }

    .clip-corner-inner {
        clip-path: polygon(
            2px 2px,
            calc(100% - 2px) 2px,
            calc(100% - 2px) calc(100% - 17px),
            calc(100% - 17px) calc(100% - 2px),
            2px calc(100% - 2px)
        );
    }

    .grid-overlay-right {
        position: absolute;
        right: 0;
        background-size: 50px 50px;
        background-image:
            linear-gradient(to right, #a122af 3px, transparent 3px),
            linear-gradient(to bottom, #a122af 3px, transparent 3px);
        mask-image: linear-gradient(
            to right,
            transparent,
            rgba(0, 0, 0, 0.05) 10%,
            rgba(0, 0, 0, 0.3) 40%,
            rgba(0, 0, 0, 0.7) 70%,
            black 100%
        );
    }

    .grid-overlay-left {
        position: absolute;
        left: 0;
        background-size: 50px 50px;
        background-image:
            linear-gradient(to right, #a122af 3px, transparent 3px),
            linear-gradient(to bottom, #a122af 3px, transparent 3px);
        mask-image: linear-gradient(
            to right,
            black 0%,
            rgba(0, 0, 0, 0.7) 30%,
            rgba(0, 0, 0, 0.3) 60%,
            rgba(0, 0, 0, 0.05) 90%,
            transparent 100%
        );
    }

    @keyframes infinite-scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes dropdown-fade-in {
        0% {
            opacity: 0;
            transform: scaleY(0.96) translateY(-8px);
        }
        100% {
            opacity: 1;
            transform: scaleY(1) translateY(0);
        }
    }

    .animate-infinite-scroll {
        animation: infinite-scroll 25s linear infinite;
    }

    .animation-paused {
        animation-play-state: paused;
    }

    .other-resources-container::before {
        content: "";
        z-index: 99;
        width: 10%;
        height: 100%;
        position: absolute;
        left: 4rem;
        top: 0;
        background: linear-gradient(to left, transparent, #301d3f);
    }

    .other-resources-container::after {
        content: "";
        width: 10%;
        height: 100%;
        position: absolute;
        right: 4rem;
        top: 0;
        background: linear-gradient(to right, transparent, #301d3f);
    }

    /*** MARKDOWN STYLING ***/
    /* Headings */
    .markdown h1 {
        @apply mb-4 mt-8 font-heading text-3xl uppercase;
    }

    .markdown h2 {
        @apply mb-3 mt-6 font-heading text-2xl uppercase;
    }

    .markdown h3 {
        @apply mb-2 mt-4 font-heading text-xl uppercase;
    }

    .markdown h4 {
        @apply mb-2 mt-4 font-heading text-lg uppercase;
    }

    .markdown h5 {
        @apply mb-2 mt-4 font-heading text-base uppercase;
    }

    .markdown h6 {
        @apply mb-2 mt-4 font-heading text-sm uppercase;
    }

    /* Paragraphs and links */
    .markdown p {
        @apply mb-4 leading-relaxed;
    }

    .markdown a {
        @apply text-blue-500 hover:underline;
    }

    /* Lists */
    .markdown ul {
        @apply ml-6 list-disc;
    }

    .markdown ol {
        @apply ml-6 list-decimal;
    }

    .markdown li {
        @apply mb-1;
    }

    /* Blockquote */
    .markdown blockquote {
        @apply my-4 border-l-4 border-gray-400 pl-4 italic;
    }

    /* Inline code and code blocks */
    .markdown code {
        @apply rounded bg-gray-100 px-1 py-0.5 font-mono text-sm;
    }

    .markdown pre {
        @apply my-4 overflow-auto rounded bg-gray-100 p-4;
    }

    /* Horizontal rule */
    .markdown hr {
        @apply my-8 border-t border-gray-200;
    }

    /* (Optional) Tables */
    .markdown table {
        @apply mb-4 w-full border-collapse;
    }

    .markdown th,
    .markdown td {
        @apply border border-gray-300 px-4 py-2;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    * {
        @apply border-border;
    }

    /*** Scrollbar styling ***/
    /* Firefox */
    * {
        scrollbar-color: #9a1ebf #381e4b; /* thumb, track */
    }

    ::-webkit-scrollbar-track {
        background: #381e4b;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(55deg, #8824dc 41.93%, #b1219d 81.89%);
        border-radius: 10px;
    }

    *,
    ::before,
    ::after {
        border-width: 0;
    }

    html {
        @apply bg-gray-100;
    }

    body {
        @apply m-0 leading-[normal] bg-gray-100 text-foreground;
        font-family: Raleway, sans-serif;
    }

    input::placeholder,
    textarea::placeholder,
    select::placeholder {
        font-family: Raleway, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
    }

    @font-face {
        font-family: "VCR OSD Mono";
        font-display: swap;
        src: url(/fonts/VCR_OSD_MONO_1.001.ttf);
    }

    @font-face {
        font-family: "Monocode";
        font-display: swap;
        src: url(/fonts/monocode-regular.ttf);
    }
}

.animate-dropdown {
    animation: dropdown-fade-in 0.22s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: top;
}

.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* This alone is for single line, but required with -webkit-box */
}

.fade-left-bottom {
    /* Apply two masks: one for left fade, one for bottom fade */
    -webkit-mask-image:
        linear-gradient(to left, black, transparent), linear-gradient(to bottom, black, transparent);
    -webkit-mask-composite: destination-in;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image:
        linear-gradient(to left, black, transparent), linear-gradient(to bottom, black, transparent);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: cover;
}

.fade-right-bottom {
    /* Apply two masks: one for right fade, one for bottom fade */
    -webkit-mask-image:
        linear-gradient(to right, black, transparent),
        linear-gradient(to bottom, black, transparent);
    -webkit-mask-composite: destination-in;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image:
        linear-gradient(to right, black, transparent),
        linear-gradient(to bottom, black, transparent);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: cover;
}

.fade-from-top-bg {
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.1) 70%,
        rgba(0, 0, 0, 1)
    );
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.1) 70%,
        rgba(0, 0, 0, 1)
    );
}

.fade-from-top-grid-mobile {
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.1) 30%,
        rgba(0, 0, 0, 1)
    );
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.1) 20%,
        rgba(0, 0, 0, 1)
    );
}

.fade-from-bottom-bg {
    -webkit-mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 1)
    );
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 1));
}

.fade-from-top-bottom-bg {
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 40%,
        rgba(0, 0, 0, 0.7) 70%,
        rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 40%,
        rgba(0, 0, 0, 0.7) 70%,
        rgba(0, 0, 0, 0) 100%
    );
}

.fade-from-top-bottom-bg-globe {
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0) 50%
    );
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 0.5) 30%,
        rgba(0, 0, 0, 0) 50%
    );
}

@media (min-width: 1536px) {
    .fade-from-top-bottom-bg-globe {
        -webkit-mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 0.5) 30%,
            rgba(0, 0, 0, 0) 60%
        );
        mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 0.5) 30%,
            rgba(0, 0, 0, 0) 60%
        );
    }
}

.fade-from-top-left-bg {
    mask-image: radial-gradient(circle at top left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
    -webkit-mask-image: radial-gradient(
        circle at top left,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 70%
    );
}

.fade-from-top-right-bg {
    mask-image: radial-gradient(circle at top right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
    -webkit-mask-image: radial-gradient(
        circle at top right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 70%
    );
}

.fade-from-left-bg {
    -webkit-mask-image: radial-gradient(
        ellipse 150% 100% at left center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 5%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 70%
    );
    mask-image: radial-gradient(
        ellipse 150% 100% at left center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 5%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0) 70%
    );
}

.fade-from-right-bg {
    -webkit-mask-image: radial-gradient(
        ellipse 150% 100% at right center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 5%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 70%
    );
    mask-image: radial-gradient(
        ellipse 150% 100% at right center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 5%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0) 70%
    );
}

.fade-from-center-bg {
    -webkit-mask-image: radial-gradient(
        ellipse 100% 100% at center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%
    );
    mask-image: radial-gradient(
        ellipse 100% 100% at center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%
    );
}

.fade-from-center-tunnel-home {
    -webkit-mask-image: radial-gradient(
        ellipse 100% 100% at center 52%,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%
    );
    mask-image: radial-gradient(
        ellipse 100% 100% at center 52%,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%
    );
}

.fade-from-center-sponsorship-floor {
    -webkit-mask-image: radial-gradient(
        ellipse 100% 100% at center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 60%
    );
    mask-image: radial-gradient(
        ellipse 100% 100% at center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 60%
    );
}

.fade-in-section {
    opacity: 0;
    transform: translateY(40px);
    transition:
        opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    /* will-change: opacity, transform; */
}
.fade-in-section.in-view {
    opacity: 1;
    transform: none;
}
