name: Lint Project
on:
    pull_request:
        branches:
            - main
        paths:
            - .github/workflows/lint.yml
            - package*.json
            - pnpm-lock.yaml
            - src/**
            - "*.config.*"
            - .prettier*
    push:
        branches:
            - main
        paths:
            - .github/workflows/lint.yml
            - package*.json
            - pnpm-lock.yaml
            - src/**
            - "*.config.*"
            - .prettier*

jobs:
    lint:
        name: Lint Project
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Lint project
              run: |
                  pnpm next telemetry disable
                  pnpm lint

            - name: Build project
              run: pnpm build --debug --no-lint
