name: Lint Project
on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
    merge_group:

env:
  NEXT_PUBLIC_RECAPTCHA_SITE_KEY: fake-key
  POSTGRES_URL: https://fakeurl.com
  RECAPTCHA_SECRET_KEY: fake-key
  EMAIL_USER: uottawa.sesa@gmail.com
  EMAIL_PASS: fake-pass

jobs:
    lint:
        name: Lint Project
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Build Packages
              run: pnpm build

            - name: Lint project
              run: pnpm exec biome ci --error-on-warnings

            - name: Check types
              run: pnpm check-types
