name: Lint Project
on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
    merge_group:

jobs:
    lint:
        name: Lint Project
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Lint project
              run: pnpm exec biome ci --error-on-warnings

            - name: Check types
              run: pnpm exec tsc
